$text-main: #000;
$text-white: #fff;
$text-gray: #2a303d;
$weight: 400;

$color1: #97b254;
$color2: #f0a92e;
$color3: #ffc600;
$color4: #abcb3e;
$bg-gray: #f7f7f7;

$color-start: #7ca3cc;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-ipad: 1024px;
$screen-lg: 1200px;