.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

html {
  font-size: 62.5%;
  color: #000;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }

body {
  font-size: 1.8rem;
  color: #2a303d; }

/*Responsive start*/
/*UltraLarge screens start*/
/*UltraLarge screens stop*/
/*Large screens*/
/*Laptops*/
/*Tablet*/
/*Tablet Stop*/
/*Small devices Start*/
/*Small devices Stop*/
/*Phone Start*/
/*Pages stop*/
/*Phone Stop*/
/*small phone start*/
/*small phone stop*/
/*Responsive stop*/
